
body {font-family: Arial; margin:0; text-align:center;}
header {background:#000;color:#1e90ff;padding:20px;}
nav a {color:white;margin:10px;text-decoration:none;}
section {padding:40px;}
footer {background:#f0f0f0;padding:20px;}
